{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'equipment_users_list' %}">Users Listing</a></p>
<table class="table">
<tr><td>name</td><td>{{ object.name }}</td></tr>
<tr><td>slug</td><td>{{ object.slug }}</td></tr>
<tr><td>created</td><td>{{ object.created }}</td></tr>
<tr><td>last_updated</td><td>{{ object.last_updated }}</td></tr>
<tr><td>consent_personal_date</td><td>{{ object.consent_personal_date }}</td></tr>
<tr><td>consent_to_send_SMS</td><td>{{ object.consent_to_send_SMS }}</td></tr>
<tr><td>consent_to_send_whatsapp</td><td>{{ object.consent_to_send_whatsapp }}</td></tr>
<tr><td>consent_to_telegram</td><td>{{ object.consent_to_telegram }}</td></tr>
<tr><td>phone_main</td><td>{{ object.phone_main }}</td></tr>
<tr><td>phone_addict</td><td>{{ object.phone_addict }}</td></tr>
<tr><td>whatsapp</td><td>{{ object.whatsapp }}</td></tr>
<tr><td>telegram</td><td>{{ object.telegram }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit Users</a>

{% endblock %}